:root {
  --color-primary: #f83844;
  --color-hover: hsl(356, 93%, 40%);

  --font-ladna: "Ladna Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

  --transition-hover: 150ms ease-in-out;

  --unit-padding: 2.5rem;
  --unit-small: 0.425rem;
  --unit-medium: 1rem;
  --unit-font-size-body: 1.5rem;
}

.hero__background {
  position: fixed;
  width: 100%;
  height: 100%;

  background-image: url("../images/hero-image.webp");
  background-size: cover;
  background-position: center;

  z-index: -1;
}

.hero__h1-container {
  position: fixed;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__h1-wrapper {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1875rem;
  gap: 0.5rem;
}

.hero__h1 {
  font-family: var(--font-ladna);
  font-size: 6.0625rem;
  line-height: 0.745;
  font-weight: 900;
  letter-spacing: -0.2425rem;
  text-align: center;
  white-space: nowrap;
  color: white;

  overflow: hidden;
}

.h1__logo-wrapper {
  height: 4.5165625rem;
}

.h1__logo {
  height: 3.03125rem;
  height: 2.5rem;
  margin-right: -1.63rem;

  object-fit: contain;
}

.h1__logo * {
  width: unset !important;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: var(--unit-padding);

  display: flex;
  justify-content: space-between;
  z-index: 999;
}

.header__socials,
.header__languages {
  display: flex;
  gap: var(--unit-small);
}

.socials__icon {
  height: 1rem;
  height: 1.25rem;
}

.hero__footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: var(--unit-padding);

  display: flex;
  justify-content: center;
}

.footer__nav-bar {
  position: relative;
  max-width: 130ch;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: var(--unit-small);
}

.button {
  padding: var(--unit-small) var(--unit-medium);
  border-radius: 1.25rem;

  font-family: var(--font-ladna);
  font-size: var(--unit-font-size-body);
  line-height: 1;
  font-weight: 500;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.0325rem;
  text-decoration: none;
  color: white;
  text-align: center;

  background-color: var(--color-primary);
  transition: var(--transition-hover);
  overflow: hidden;
}

.button:hover {
  transform: translateY(-10%);
  background-color: var(--color-hover);
}
